---
import ButtonLink from "@components/ButtonLink.astro";
---

<div class="w-screen h-screen overflow-hidden bg-cover bg-center flex items-center justify-center text-center"
     style="background-image: url(https://api.brix-ia.com/uploads/Brix_IA_landing_5232f72d6c.jpg);">
  <main class="max-w-2xl px-6">
    <h1 class="text-4xl md:text-5xl font-bold text-white">
      Brix-IA <br><br> La community di Brescia
      <br>
      <span class="text-green-200">sull'Intelligenza Artificiale</span>
    </h1>
    <p class="mt-4 text-xl font-semibold text-gray-200">
      Inizia oggi il tuo percorso nel mondo dell'Intelligenza Artificiale<br>
      Impara oggi le competenze necessarie per garantirti un futuro all’altezza dei tuoi desideri.
    </p>
    <div class="mt-6 flex justify-center gap-4">
      <ButtonLink href="https://t.me/+E54HAdd4b1kyNWU0" class="bg-accent hover:bg-green-600 text-dark">
        Iscriviti a Brix-IA
      </ButtonLink>
      <ButtonLink href="/blog" class="bg-accent hover:bg-green-600 text-dark">
        Scopri di più
      </ButtonLink>
    </div>
  </main>
</div>