---
import MainLayout from "@layouts/MainLayout.astro"
import ButtonLink from "@components/ButtonLink.astro"
import "../themes/dark.css";
import Hero from '@components/blocks/Hero.astro';

import { getEntry } from 'astro:content';

const { data } = await getEntry('pagedata', 'landing');
const { title, content } = data.landingPageData;
const header = content.hero;

const features = content.features;

---

<MainLayout title={title}>
	<Hero />
	<section>
		<div class="py-20">
			<div class="container mx-auto px-4" style="padding: 0;">
				<div class="flex flex-wrap -mx-4">
					{ features.data.map( ({ title, description }: { title: string, description: string }) => {
						return <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
						<h4 class="mb-4 text-2xl font-bold font-heading">{title}</h4>
						<p class="text-gray-500 leading-loose">{description}</p>
					</div>})}
				</div>
			</div>
		</div>
	</section>
</MainLayout>
